<a href="/merchants"><h5>Merchant Index</h5></a>
<a href="/items"><h6>Item Index</h6></a>
<h1>All Merchants</h1>
<%= link_to 'New Merchant', '/merchants/new' %>

<% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <a href="https://www.w3schools.com"><h2><%= merchant.name %></h2></a>
    <%= button_to 'Delete', "/merchants/#{merchant.id}", method: :delete %>
    <%= link_to 'Edit', "/merchants/#{merchant.id}/edit" %>
  </div>
<% end %>
