<!DOCTYPE HTML>
<html>
<head>
  <style>
    body {
      background-color: beige;
    }

    h1 {
      color: orange;
      font-size: 60px;
      font-family: cursive;
      font-stretch: 200%;
    }

    h2 {
      color: maroon;
      font-family: cursive;
    }

    h3 {
      color: red;
      font-family: cursive;
    }
    </style>
</head>


<body>

<a href="/merchants"><h3>Merchant Index</h3></a>
<a href="/items"><h3>Item Index</h3></a>
<h1>Merchant Show Page</h1>

  <a href="/merchants/#{merchant.id}"><h2><%= @merchant.name %></h2></a>
  <h2><%= @merchant.address %></h2>
  <h2><%= @merchant.city %></h2>
  <h2><%= @merchant.state %></h2>
  <h2><%= @merchant.zip %></h2>

  <a href="/merchants/<%= @merchant.id %>/edit">Edit</a>

  </body>
  </html>
