<a href="/merchants"><h5>Merchant Index</h5></a>
<a href="/items"><h6>Item Index</h6></a>

<h1>All Items</h1>

<% @items.each do |item| %>
  <div id="item-<%= item.id%>">
    <a href="https://www.w3schools.com"><h2><%= item.name %></h2></a>
    <p>Description: <%= item.description %></p>
    <p>Price: <%= item.price %></p>
    <p>Image: <%= item.image %></p>
    <p>Status: <%= item.status %></p>
    <p>Inventory: <%= item.inventory %></p>
    <a href="https://www.w3schools.com"><p>Merchant: <%= item.merchant %></p></a>
    <%= link_to 'Edit', "/items/#{item.id}/edit" %>
  </div>
<% end %>
