<h1><%= "Item Show Page" %></h1>

  <a href="https://www.w3schools.com"><h2><%= @item.name %></h2></a>
  <h2><%= @item.description %></h2>
  <h2><%= @item.price %></h2>
  <h2><%= @item.image %></h2>
  <h2><%= @item.status %></h2>
  <h2><%= @item.inventory %></h2>
  <a href="https://www.w3schools.com"><h2><%= @item.merchant %></h2></a>
